In [47]:
import pandas as pd
import datetime

In [48]:
# delimeter chi dinh cach chia moi cot
# cach set read_csv doc duoc la sep = '\t' for tab
d_parser = lambda x: datetime.datetime.strptime(x,'%Y')
df = pd.read_csv('/home/van/Desktop/pandas_scipy_2020/pandas_mau/data/gapminder.tsv',
           sep='\t',parse_dates=['year'], date_parser=d_parser)

In [8]:
type(df)

pandas.core.frame.DataFrame

### Why don't use pickle to save df?
**Use pickle when:**
- Have analysis pipeline and need to transfer output data into input anoter script (mang tinh temporary)

**Use pandas df when:**
- Longterm storage && work i=on mulitple languages to match

In [10]:
# looking for rows and cols -- xem header co khong check du so luong data
df.shape

(1704, 6)

In [49]:
# tell more about data (object data can call on itself)
# not display NaN value
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   datetime64[ns]
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 80.0+ KB

In [15]:
# df attributes still call by filter
df.dtypes[df.dtypes == 'int64']

year    int64
pop     int64
dtype: object

In [50]:
df.head()

       country continent       year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia 1952-01-01   28.801   8425333  779.445314
1  Afghanistan      Asia 1957-01-01   30.332   9240934  820.853030
2  Afghanistan      Asia 1962-01-01   31.997  10267083  853.100710
3  Afghanistan      Asia 1967-01-01   34.020  11537966  836.197138
4  Afghanistan      Asia 1972-01-01   36.088  13079460  739.981106

In [34]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [51]:
df.index

RangeIndex(start=0, stop=1704, step=1)