In [1]:
import pandas as pd
import datetime

In [2]:
# delimeter chi dinh cach chia moi cot
# cach set read_csv doc duoc la sep = '\t' for tab
# d_parser = lambda x: datetime.datetime.strptime(x,'%Y')
df = pd.read_csv('/home/van/Desktop/pandas_scipy_2020/pandas_mau/data/gapminder.tsv',
           sep='\t') #,parse_dates=['year'], date_parser=d_parser)

In [3]:
type(df)

pandas.core.frame.DataFrame

### Why don't use pickle to save df?
**Use pickle when:**
- Have analysis pipeline and need to transfer output data into input anoter script (mang tinh temporary)

**Use pandas df when:**
- Longterm storage && work i=on mulitple languages to match

In [4]:
# looking for rows and cols -- xem header co khong check du so luong data
df.shape

(1704, 6)

In [5]:
# tell more about data (object data can call on itself)
# not display NaN value
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [6]:
# df attributes still call by filter
df.dtypes[df.dtypes == 'int64']

year    int64
pop     int64
dtype: object

In [7]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [8]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [9]:
df.index

RangeIndex(start=0, stop=1704, step=1)

##  looking at columns in data

In [10]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [11]:
# select 1 col --> series
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [12]:
# select multiple cols --> dataframe
df[['country','pop']]

          country       pop
0     Afghanistan   8425333
1     Afghanistan   9240934
2     Afghanistan  10267083
3     Afghanistan  11537966
4     Afghanistan  13079460
...           ...       ...
1699     Zimbabwe   9216418
1700     Zimbabwe  10704340
1701     Zimbabwe  11404948
1702     Zimbabwe  11926563
1703     Zimbabwe  12311143

[1704 rows x 2 columns]

## Looking at rows in data

In [13]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [14]:
# offset using slice
df.loc[0:3,'country':'year']

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967

In [15]:
# subset picking specific rows and cols
df.loc[[1,2,3],['country','year']]

       country  year
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967

In [16]:
# iloc su dung cho index nen goi so am duoc
# loc su dung text nen khong su dung so am duoc
df.iloc[-1]

country        Zimbabwe
continent        Africa
year               2007
lifeExp       43.487000
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

## subsetting rows and columns

In [18]:
flit = df['country']=='Zimbabwe'
flit_1 = df['year'] >1990

In [20]:
# filter out Zimbabwe and year > 1990
df.loc[flit&flit_1]

       country continent  year  lifeExp       pop   gdpPercap
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [19]:
# same things but the vao luon notice parenthesis
df.loc[(df['country']=='Zimbabwe') & (df['year'] >1990)]

       country continent  year  lifeExp       pop   gdpPercap
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [21]:
df.sort_values(by=['country','year'],ascending=[True,False])

          country continent  year  lifeExp       pop   gdpPercap
11    Afghanistan      Asia  2007   43.828  31889923  974.580338
10    Afghanistan      Asia  2002   42.129  25268405  726.734055
9     Afghanistan      Asia  1997   41.763  22227415  635.341351
8     Afghanistan      Asia  1992   41.674  16317921  649.341395
7     Afghanistan      Asia  1987   40.822  13867957  852.395945
...           ...       ...   ...      ...       ...         ...
1696     Zimbabwe    Africa  1972   55.635   5861135  799.362176
1695     Zimbabwe    Africa  1967   53.995   4995432  569.795071
1694     Zimbabwe    Africa  1962   52.358   4277736  527.272182
1693     Zimbabwe    Africa  1957   50.469   3646340  518.764268
1692     Zimbabwe    Africa  1952   48.451   3080907  406.884115

[1704 rows x 6 columns]

## For every year what is the lifeExp in average?

In [22]:
# groupby year for every la dau hieu
df.groupby(by='year')['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [24]:
import numpy as np

In [25]:
# phai co them [] moi the hien nhieu ham duoc
df.groupby(by='year')['lifeExp'].agg(['mean','sum',np.std])

           mean         sum        std
year
1952  49.057620  6966.18200  12.225956
1957  51.507401  7314.05096  12.231286
1962  53.609249  7612.51336  12.097245
1967  55.678290  7906.31712  11.718858
1972  57.647386  8185.92888  11.381953
1977  59.570157  8458.96236  11.227229
1982  61.533197  8737.71400  10.770618
1987  63.212613  8976.19100  10.556285
1992  64.160338  9110.76800  11.227380
1997  65.014676  9232.08400  11.559439
2002  65.694923  9328.67900  12.279823
2007  67.007423  9515.05400  12.073021

## How does the lifeExp and gdpcap change over year and continent?

In [26]:
df.groupby(by=['year','continent'])[['lifeExp','gdpPercap']].agg(['mean','sum'])

                  lifeExp                 gdpPercap
                     mean         sum          mean            sum
year continent
1952 Africa     39.135500  2035.04600   1252.572466   65133.768223
     Americas   53.279840  1331.99600   4079.062552  101976.563805
     Asia       46.314394  1528.37500   5195.484004  171450.972133
     Europe     64.408500  1932.25500   5661.057435  169831.723043
     Oceania    69.255000   138.51000  10298.085650   20596.171300
1957 Africa     41.266346  2145.85000   1385.236062   72032.275237
     Americas   55.960280  1399.00700   4616.043733  115401.093329
     Asia       49.318544  1627.51196   5787.732940  190995.187018
     Europe     66.703067  2001.09200   6963.012816  208890.384478
     Oceania    70.295000   140.59000  11598.522455   23197.044910
1962 Africa     43.319442  2252.61100   1598.078825   83100.098892
     Americas   58.398760  1459.96900   4901.541870  122538.546760
     Asia       51.563223  1701.58636   5729.369625  189069.197618
     Europe     68.539233  2056.17700   8365.486814  250964.604429
     Oceania    71.085000   142.17000  12696.452430   25392.904860
1967 Africa     45.334538  2357.39600   2050.363801  106618.917645
     Americas   60.410920  1510.27300   5668.253496  141706.337401
     Asia       54.663640  1803.90012   5971.173374  197048.721329
     Europe     69.737600  2092.12800  10143.823757  304314.712696
     Oceania    71.310000   142.62000  14495.021790   28990.043580
1972 Africa     47.450942  2467.44900   2339.615674  121660.015058
     Americas   62.394920  1559.87300   6491.334139  162283.353476
     Asia       57.319269  1891.53588   8187.468699  270186.467082
     Europe     70.775033  2123.25100  12479.575246  374387.257394
     Oceania    71.910000   143.82000  16417.333380   32834.666760
1977 Africa     49.580423  2578.18200   2585.938508  134468.802440
     Americas   64.391560  1609.78900   7352.007126  183800.178157
     Asia       59.610556  1967.14836   7791.314020  257113.362658
     Europe     71.937767  2158.13300  14283.979110  428519.373288
     Oceania    72.855000   145.71000  17283.957605   34567.915210
1982 Africa     51.592865  2682.82900   2481.592960  129042.833907
     Americas   66.228840  1655.72100   7506.737088  187668.427202
     Asia       62.617939  2066.39200   7434.135157  245326.460197
     Europe     72.806400  2184.19200  15617.896551  468536.896537
     Oceania    74.290000   148.58000  18554.709840   37109.419680
1987 Africa     53.344788  2773.92900   2282.668991  118698.787546
     Americas   68.090720  1702.26800   7793.400261  194835.006528
     Asia       64.851182  2140.08900   7608.226508  251071.474755
     Europe     73.642167  2209.26500  17214.310727  516429.321799
     Oceania    75.320000   150.64000  20448.040160   40896.080320
1992 Africa     53.629577  2788.73800   2281.810333  118654.137329
     Americas   69.568360  1739.20900   8044.934406  201123.360138
     Asia       66.537212  2195.72800   8639.690248  285109.778175
     Europe     74.440100  2233.20300  17061.568084  511847.042526
     Oceania    76.945000   153.89000  20894.045885   41788.091770
1997 Africa     53.598269  2787.11000   2378.759555  123695.496865
     Americas   71.150480  1778.76200   8889.300863  222232.521564
     Asia       68.020515  2244.67700   9834.093295  324525.078743
     Europe     75.505167  2265.15500  19076.781802  572303.454048
     Oceania    78.190000   156.38000  24024.175170   48048.350340
2002 Africa     53.325231  2772.91200   2599.385159  135168.028262
     Americas   72.422040  1810.55100   9287.677107  232191.927683
     Asia       69.233879  2284.71800  10174.090397  335744.983087
     Europe     76.700600  2301.01800  21711.732422  651351.972673
     Oceania    79.740000   159.48000  26938.778040   53877.556080
2007 Africa     54.806038  2849.91400   3089.032605  160629.695446
     Americas   73.608120  1840.20300  11003.031625  275075.790634
     Asia       70.728485  2334.04000  12473.026870  411609.886714
     Europe     77.648600  2329.45800  25054.481636  751634.449078
     Oceania    80.719500   161.43900  29810.188275   59620.376550

In [36]:
grouped = df.groupby(by=['year','continent'])[['lifeExp','gdpPercap']].agg('mean')

In [38]:
grouped_reset = grouped.reset_index()

In [39]:
grouped_reset

    year continent    lifeExp     gdpPercap
0   1952    Africa  39.135500   1252.572466
1   1952  Americas  53.279840   4079.062552
2   1952      Asia  46.314394   5195.484004
3   1952    Europe  64.408500   5661.057435
4   1952   Oceania  69.255000  10298.085650
5   1957    Africa  41.266346   1385.236062
6   1957  Americas  55.960280   4616.043733
7   1957      Asia  49.318544   5787.732940
8   1957    Europe  66.703067   6963.012816
9   1957   Oceania  70.295000  11598.522455
10  1962    Africa  43.319442   1598.078825
11  1962  Americas  58.398760   4901.541870
12  1962      Asia  51.563223   5729.369625
13  1962    Europe  68.539233   8365.486814
14  1962   Oceania  71.085000  12696.452430
15  1967    Africa  45.334538   2050.363801
16  1967  Americas  60.410920   5668.253496
17  1967      Asia  54.663640   5971.173374
18  1967    Europe  69.737600  10143.823757
19  1967   Oceania  71.310000  14495.021790
20  1972    Africa  47.450942   2339.615674
21  1972  Americas  62.394920   6491.334139
22  1972      Asia  57.319269   8187.468699
23  1972    Europe  70.775033  12479.575246
24  1972   Oceania  71.910000  16417.333380
25  1977    Africa  49.580423   2585.938508
26  1977  Americas  64.391560   7352.007126
27  1977      Asia  59.610556   7791.314020
28  1977    Europe  71.937767  14283.979110
29  1977   Oceania  72.855000  17283.957605
30  1982    Africa  51.592865   2481.592960
31  1982  Americas  66.228840   7506.737088
32  1982      Asia  62.617939   7434.135157
33  1982    Europe  72.806400  15617.896551
34  1982   Oceania  74.290000  18554.709840
35  1987    Africa  53.344788   2282.668991
36  1987  Americas  68.090720   7793.400261
37  1987      Asia  64.851182   7608.226508
38  1987    Europe  73.642167  17214.310727
39  1987   Oceania  75.320000  20448.040160
40  1992    Africa  53.629577   2281.810333
41  1992  Americas  69.568360   8044.934406
42  1992      Asia  66.537212   8639.690248
43  1992    Europe  74.440100  17061.568084
44  1992   Oceania  76.945000  20894.045885
45  1997    Africa  53.598269   2378.759555
46  1997  Americas  71.150480   8889.300863
47  1997      Asia  68.020515   9834.093295
48  1997    Europe  75.505167  19076.781802
49  1997   Oceania  78.190000  24024.175170
50  2002    Africa  53.325231   2599.385159
51  2002  Americas  72.422040   9287.677107
52  2002      Asia  69.233879  10174.090397
53  2002    Europe  76.700600  21711.732422
54  2002   Oceania  79.740000  26938.778040
55  2007    Africa  54.806038   3089.032605
56  2007  Americas  73.608120  11003.031625
57  2007      Asia  70.728485  12473.026870
58  2007    Europe  77.648600  25054.481636
59  2007   Oceania  80.719500  29810.188275